article {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 20px;
    font-family: "Outfit", sans-serif;
    max-width: min-content;

    img {
        width: 285px;
        border-radius: 10px;
    }

    div {
        width: 85%;
        margin: 25px auto 10px auto;

        h1 {
            margin: 0;
            color: hsl(218, 44%, 22%);
        }

        p {
            font-size: 15px;
            color: hsl(220, 15%, 55%);
        }
    }
}
